body {
  background-color: #6aafaf;
}

#main_box {
  width: 400px;
  padding: 16px;
  background-color: #ABF0F0;
  border-radius: 4px;
}

#phys_box,
#log_box {
  width: 600px;
  padding: 16px;
  background-color: #ABF0F0;
  border-radius: 4px;
}

li::marker {
  content: "✓"
}

mark {
  background-color: #ABF0F0;
  padding: 8px 16px;
  border-radius: 4px;
}

mark:hover {
  background: #56cdcd;
  font-size: 30;
  padding: 16px 32px;
}